includes:
    - vendor/nesbot/carbon/extension.neon

parameters:
    tmpDir: cache/phpstan

    paths:
        - src/
        - tests/

    level: 10

    # Third party package, need to fix with maintainer BEFORE release!
    ignoreErrors:
