includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    tmpDir: cache/phpstan

    paths:
        - app/
        - tests/

    level: 10

    # Third party package, need to fix with maintainer BEFORE release!
    ignoreErrors:
